/*general*/

@font-face {
    font-family: Raleway;
    src: url(../fonts/static/Raleway-Regular.ttf) format("truetype");
}

/* taille de la page web*/

html, body {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    /* max-width: 900px; */
    margin: auto;
}

.logo {
    margin-left: 1.5%;
}

a:link {
    padding-top: 20px;
    text-decoration: none;
}

.haut1 {
    width: auto;
}

header {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.TrouvezvotreHebergement {
    margin-left: 2%;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bolder;
}

.centreville {
    font-size: 11px;
    margin-left: 2%;
    margin-top: 5px;
    font-weight: bolder;
}

.locationetBtn {
    display: inline-flex;
    flex-direction: row;
    margin-left: 1.9%;
    font-size: 12px;
}

.infoI {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 0px;
}

.plude500 {
    width: fit-content;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 12px;
}

.lescartesdemarseille {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    align-items: flex-start;
}

.lescartes {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #f2f2f2;
    font-size: 9px;
}

.Cartehotel {
    box-shadow: 0 0 20px #0000002e;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 0px;
    background-color: white;
    width: fit-content;
    height: fit-content;
}

.Cartehotel:hover {
    transform: scale(1.2);
}

.carte {
    background-color: #ffff;
    text-align: start;
    width: 165px;
    height: 85px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1px;
    margin-bottom: 0px;
}

.b {
    background-color: #f2f2f2;
    border-radius: 12px;
    width: min-content;
    height: min-content;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
    font-size: 9px;
}

.b1 {
    display: inline-flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    height: max-content;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.Btns {
    border: 1px solid #f2f2f2;
    width: 160px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
}

.rechercher {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.Btn {
    width: 90px;
    height: 35px;
    color: white;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left: -12px;
    visibility: visible;
}

.filtres {
    margin: 15px;
    padding: 0px;
    font-size: small;
}

.icones {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.fa-money-bill {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.fa-child {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.fa-heart {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.fa-dog {
    width: 32px;
    height: 32px;
    border: 1px solid #deebff;
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    margin-right: 7px;
    padding-top: 8px;
}

.btn1 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 130px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn1:hover {
    transform: scale(1.2);
}

.btn2 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn2:hover {
    transform: scale(1.2);
}

.btn3 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 125px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn3:hover {
    transform: scale(1.2);
}

.btn4 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 170px;
    height: 34px;
    border: 1px solid #ece6e6;
    background-color: white;
    border-radius: 120px;
    text-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    padding: 0px;
    box-shadow: 1px 1px 0.5px#F2F2F2;
    color: black;
    margin: 10px;
    margin-bottom: 0px;
}

.btn4:hover {
    transform: scale(1.2);
}

i.fa-search{
    display: none;
}

.fa-info {
    display: inline-block;
    border: 1px solid #F2F2F2;
    align-items: center;
    color: #0065fc;
    padding-right: 0px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 0px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 7px;
    background-color: #ffff;
    font-size: 9px;
    box-shadow: 2px 1px 0.5px whitesmoke;
}

.HM {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: -10px;
    width: fit-content;
    font-size: 16px;
    font-weight: bolder;
}

.titreHotel {
    font-weight: bolder;
    font-size: 12px;
    margin-left: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.NI {
    font-size: 11px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Istars {
    background-color: #ffff;
    color: #0065fc;
    margin-left: 7px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.AP {
    font-weight: bolder;
    font-size: small;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.fa-chart-line {
    position: relative;
    top: 0px;
    margin-right: -200px;
    font-size: 16px;
    font-weight: bolder;
}

.HMHori {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: -40px;
    margin-bottom: -10px;
    width: fit-content;
    font-size: 14px;
    font-weight: bolder;
}

.CartehotelHori {
    box-shadow: 0 0 20px #0000002e;
    display: flex;
    align-items: flex-start;
    height: 80px;
    width: 210px;
    border: 1px solid white;
    background-color: #ffff;
    border-radius: 10px;
    text-align: left;
    font-size: 9px;
    caption-side: top;
    padding: 3px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 34px;
}

.CartehotelHori:hover {
    transform: scale(1.1);
}

.carteHori {
    height: 100%;
    background-color: #ffff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.titreHotelHori {
    align-items: flex-start;
    justify-content: flex-start;
    caption-side: top;
    margin-left: 10px;
    margin-top: -2px;
}

.NIHori {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    caption-side: top;
    margin-left: 10px;
    margin-top: 5px;
}

.IstarsHori {
    background-color: #ffff;
    color: #0065fc;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.Marseille {
    width: fit-content;
    margin-left: 13px;
    font-size: medium;
    margin-bottom: 10px;
    font-weight: bolder;
}

.lescartesbas {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 9px;
    background-color: white;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

.activiteaMarseille {
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
}

.activitePortrait {
    box-shadow: 0 0 20px #0000002e;
    display: block;
    height: 360px;
    width: 203px;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0px;
    margin:0px;
    margin-bottom: 5px;
}

.activitePortrait:hover {
    transition: transform 1ms;
    transform: scale(1.2);
}

.activitePortraitCap {
    padding-left: 12px;
    padding-top: 9px;
    font-weight: bolder;
    font-size: larger;
    background-color: white;
}

.activiteLandscape {
    box-shadow: 0 0 20px #0000002e;
    display: block;
    height: 170px;
    width: auto;
    background-color: white;
    border: 0.1px solid transparent;
    text-align: justify;
    border-radius: 10px;
    font-size: 10px;
    /* box-shadow: 7px -5px -3px #ffff; */
    padding-top: 0px;
    background-size: cover;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.activiteLandscape:hover {
    transition: transform 1ms;
    transform: scale(1.2);
}

.activiteLandscapeCap {
    padding-left: 12px;
    padding-top: 7px;
    font-weight: bolder;
    font-size: larger;
    background-color: transparent;
}

ul {
    list-style: none;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 12px;
}

.ReserviaHebergement {
    display: flex;
    flex-direction: row;
    top: 12px;
    right: 12px;
    justify-content: space-between;
    padding-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 11px;
}

.ReserviaHebergement a:hover {
    cursor: pointer;
}

.Hebergement {
    justify-content: space-evenly;
    position: relative;
    top: auto;
    right: 12px;
    border-top: 1px solid blue;
    color: #0065fc;
    padding: 20px;
    font-weight: bolder;
}

.Activite {
    justify-content: space-evenly;
    border-top: 1px solid transparent;
    top: auto;
    right: 0px;
    padding: 20px;
    font-weight: bolder;
}

.Activite a:hover {
    border-top: 1px solid #0065fc;
}

a:visited .Activite {
    color: grey;
}

.inscription {
    justify-content: space-evenly;
    top: auto;
    right: 0px;
    padding: 20px;
    color: #0065fc;
    font-weight: bolder;
}

.locationI {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    justify-content: center;
}

.grey {
    color: rgb(226, 225, 225);
}

.activitePortraitCarte {
    object-fit: cover;
    display: block;
    height: 325px;
    width: 200px;
    background: cover;
    border: 1px solid transparent;
    text-align: center;
    border-bottom-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0px;
    box-shadow: 2px 1px 0.3px whitesmoke;
    font-weight: bolder;
}

.activiteLandscapeCarte {
    object-fit: cover;
    height: 136px;
    width: 203px;
    background-color: #ffff;
    border-bottom: #ffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 10px;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding:0px;
    margin: 0px;
}

footer a {
    color: black;
}

.footer1 {
    display: block;

}

.footer2 {
    flex-direction: column;
    align-content: flex-end;
    align-items: stretch;
    justify-content: center;
    display: block;
    list-style: none;
    padding:0px;
}

.footer3 {
    display: block;
    flex-direction: column;
    /* align-content: flex-end; */
    /* align-items: stretch; */
    /* justify-content: center; */
    list-style: none;
    /* padding-left: 18px; */
    /* margin-right: 40px; */
    padding:0px;
}

footer ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.footerTitle {
    font-weight: bold;
    font-size: larger;
}

.footerLink {
    font-weight: normal;
    font-size: small;
    margin-bottom: 20px;
}

/* ------------------ 375px Breakpoint ------------------------- */
@media screen and (max-width: 375px) {
    html, body {
        margin: 0px;
        display:block
        justify-content: center;
        align-items:center;
    }
    .logo {
        margin-left: 10px;
    }
    .ReserviaHebergement {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0px;
        font-size: 16px;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .Hebergement {
        display:inline-flex;
        margin-left: -39px;
    }
    .Hebergement{
        display:inline-flex;
        border-top:none;
    }

    .Hebergement{
        display: block;
        height:vh;
        width: 171.5%;
        border-bottom: 1px solid #0065fc;
        font-weight: lighter;
     }
    
    .Activite {
        display: block;
        margin-left: 30px;
        border-bottom: 1px solid rgb(204, 202, 202);
        font-weight: lighter;
        width: 190%;
    }

    a:hover.Activite{
        display: block;
        border-bottom: 1px solid #0065fc ;
        width: 190%;
        color:#0065fc ;

    }

    .inscription {
        display: block;
        margin-top:-60px;
        margin-left: -50px;
        font-weight: bold;
    }

    .TrouvezvotreHebergement {
        width: 100%;
        margin: 10px;
        margin-left: 10px;
        font-size: 25px;
    }
    .centreville{
        font-size: large;
        font-weight:lighter;
    }
    .Btns {
        width: 270px;
        height: 35px;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
    }
    .Btn {
        display: none;
        
    }

    i.fa-search{
        display: inline-flex;
        flex-direction: row;
        width: fit-content;
        color: white;
        background-color: #0065fc;
        border: 1px solid #0065fc;
        border-radius: 10px;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        margin:0px;
        margin-left: -10px;;
    }
    .plude500 {
        font-size: 18px;
    }
    .icones{
        display:inline-block;
        font-size: 18px;
    }
    .btn1and2{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;  
    }
    .btn1{
        width: 145px;
        height: 34px;
        margin-right: 10px;
    }
    .btn2{
        width: 135px;
        height: 34px;
        margin-right: 10px;
    }
    .lescartesdemarseille {
        display: inline-flex;
        flex-direction: column-reverse;
        padding:0px;
        margin: 0px;
        width: 100%;
    }
    .b {
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
        width: 100%;
        /* justify-items: center; */
        background-color: white;
    }
    .HM {
        font-size: large;
        margin-bottom: 0px;
    }
    .HMHori {
        font-size: large;
        margin-top:0px;
        padding-top: 20px;
        align-items: flex-start;
        margin-left: -130px;
    }
    .fa-chart-line {
        position: relative;
        top: -10px;
        margin-right: -310px;
        font-size: 19px;
        font-weight: bolder;
    }
    .b1 {
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
        width: 100%;
        justify-items: center;
        border-radius: 0%;
    }
    .lescartes {
        display: inline-flex;
        flex-direction: column;
        width: 95%;
        margin: 0px;
        background-color:white;
        border: 0px solid white;
    }
    .Cartehotel {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
    }
    .titreHotel, .NI, .Istars{
        font-size: 16px;;
    }
    .Cartehotel:hover {
        transform: none;
    }
    .carte {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .carteHori{
        height: 110px;
        width: 110px;
    }
    .CartehotelHori {
        width: 330px;
        height: auto;
        margin:20px;
        font-size: 12.5px;

    }
    .CartehotelHori:hover {
        transform: none;
    }
    .lescartesbas {
        width: 95%;
        margin: 0px;
        display: inline-flex;
        flex-direction: column;
    }
    .activitePortraitCap{
        padding:25px;
        padding-top:25px;
        align-items: center;
        border: 0px solid transparent;
        /* justify-content: center; */
    }
    .activiteLandscapeCap {
        padding:25px;
        padding-top:25px;
        align-items: center;
        border: 0px solid transparent;
    }

    .footer {
        display: inline-flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        padding-bottom: 30px;
        padding-right: 30px;
        width: 100%;
    }
    .footer1, .footer2, .footer3 {
        margin-left: 10px;
        margin-right: 0px;
    }
    .activitePortraitCarte, .activiteLandscapeCarte {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border: none;
    }
    .activitePortrait {
        margin: 20px;
        width: 95%;
        padding: 0px;
        height: fit-content;
    }
    .activitePortrait:hover {
        transform: none;
    }
    .activitePortraitCap {
        font-size: large;
        background-color: transparent;
    }
    .activiteLandscape {
        margin: 20px;
        width: 95%;
        padding: 0px;
    }
    .activiteLandscape:hover {
        transform: none;
    }
    .activiteLandscapeCap {
        font-size: large;
        background-color: transparent;

    }
    .footerTitle {
        font-size: medium;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    
    .footerLink {
        font-weight: normal;
        font-size: large;
        margin-bottom: 20px;
    }

    .Marseille{
        font-size: 24px;
        font-weight: bolder;
    }
    .AP{
        font-size: 18px;
        font-weight: bolder;       
    }
}
@media screen and (min-width: 1024px) {
    @font-face {
        font-family: Raleway;
        src: url(../fonts/static/Raleway-Regular.ttf) format("truetype");
    }
    
    /* taille de la page web*/
    
      html, body {
       /* display: flex; */
       /* flex-direction: column;*/
       font-family: Raleway, sans-serif;
       /* text-decoration: none;*/
        /* max-width: 900px; */
    }
    .conteneur{
        max-width:1300px;
        margin:0 auto;
        /* background-color: red;  */
    }

    
    .logo {
        margin-left: 2.9%;
    }
    
    a:link {
        padding-top: 20px;
        text-decoration: none;
    }
    
    .haut1 {
        width: auto;
    }
    
    header {
        width: 100%;
    }
    
    * {
        box-sizing: border-box;
    }
    .titereetparagraphe{
        margin-left: 1.5%;
    }
    
    .TrouvezvotreHebergement {
        margin-left: 2%;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: bolder;
        /* margin-left: 2%; */
    }
    
    .centreville {
        font-size: 13px;
        margin-left: 2%;
        margin-top: 5px;
        /* margin-left: 2%;  */
    }
    
    .locationetBtn {
        display: inline-flex;
        flex-direction: row;
        margin-left:3.3%;
        font-size: 12px; 
    }
    
    .infoI {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 2.9%;
    }
    
    .plude500 {
        width: fit-content;
        margin-top: 7px;
        margin-left: 10px;
        font-size: 15px;
    }
    
    .lescartesdemarseille {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #FFFFFF;
        align-items: flex-start;
        margin-left: 2%;
    }
    
    .lescartes {
        display: grid;
        gap: 20px;
        grid-template-columns: 30.3% 30.3% 30.3%;
        justify-items: center;
        background-color: #f2f2f2;
        border-radius: 12px;
        padding: 10px;
        margin: 0px 0px 0px 0px;
        border: 1px solid #f2f2f2;
        font-size: 9px;
        margin-left: 2%;
    }
    
    .Cartehotel {
        box-shadow: 0 0 20px #0000002e;
        border: 3px solid white;
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        padding: 0px;
        background-color: white;
        width: 100%;
        height: vh;
        margin-left: 2%;
    }
    
    .Cartehotel:hover {
        transform: scale(1.2);
    }
    
    .carte {
        background-color: #ffff;
        text-align: start;
        width: 100%;
        height: vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 1px;
        margin-bottom: 0px;
    
    }

    .b {
        background-color: #f2f2f2;
        border-radius: 12px;
        width: 63%;
        height: 437px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        border: 1px solid #f2f2f2;
        font-size: 9px;
        margin-left:1.5%;
    }
    
    .b1 {
        display: inline-flex;
        flex-direction: column;
        width: 34%;
        height: max-content;
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 12px;
        height: max-content;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
        margin-top: 10px;
        margin-right: 4px;
        margin-bottom: 20px;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2%;
    }
    .b1 {
        margin-right: 0 auto;
    } 
  
    .Btns {
        border: 1px solid #f2f2f2;
        width: 220px;
        height: 35px;
        font-weight: bold;
        font-size: 15px;
    }
    
    
    .Btn {
        width:100px;
        height: 37px;
        color: white;
        background-color: #0065fc;
        border: 1px solid #0065fc;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 5px;
        font-size: 12px;
        font-weight: bold;
        margin-left: -12px;
        visibility: visible;
    
    }
    
    .filtres {
        margin: 15px;
        padding: 0px;
        font-size: large;
    }
    
    .icones {
        display: inline-flex;
        font-size: larger;
        gap:30px;
        border: 1 px solid red;
        width:1200px;
        height: 38px; 
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        margin-left: 2.9%;
        margin-top: 10px;
        padding: 0px;
    }
    
    .fa-money-bill {
        width: 32px;
        height: 32px;
        border: 1px solid #deebff;
        background-color: #deebff;
        color: #0065fc;
        border-radius: 50%;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        margin-right: 7px;
        padding-top: 8px;
    }
    
    .fa-child {
        width: 32px;
        height: 32px;
        border: 1px solid #deebff;
        background-color: #deebff;
        color: #0065fc;
        border-radius: 50%;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        margin-right: 7px;
        padding-top: 8px;
    }
    
    .fa-heart {
        width: 32px;
        height: 32px;
        border: 1px solid #deebff;
        background-color: #deebff;
        color: #0065fc;
        border-radius: 50%;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        margin-right: 7px;
        padding-top: 8px;
    }
    
    .fa-dog {
        width: 32px;
        height: 32px;
        border: 1px solid #deebff;
        background-color: #deebff;
        color: #0065fc;
        border-radius: 50%;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        margin-right: 7px;
        padding-top: 8px;
    }
    
    .btn1 {
        font-size: larger;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 130px;
        height: 34px;
        border: 1px solid #ece6e6;
        background-color: white;
        border-radius: 120px;
        text-align: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        color: black;
        margin: 10px;
        margin-bottom: 0px;
    }
    
    .btn1:hover {
        transform: scale(1.2);
    }
    
    .btn2 {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100px;
        height: 34px;
        border: 1px solid #ece6e6;
        background-color: white;
        border-radius: 120px;
        text-align: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        color: black;
        margin: 10px;
        margin-bottom: 0px;
    }
    
    .btn2:hover {
        transform: scale(1.2);
    }
    
    .btn3 {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 125px;
        height: 34px;
        border: 1px solid #ece6e6;
        background-color: white;
        border-radius: 120px;
        text-align: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        color: black;
        margin: 10px;
        margin-bottom: 0px;
    }
    
    .btn3:hover {
        transform: scale(1.2);
    }
    
    .btn4 {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 170px;
        height: 34px;
        border: 1px solid #ece6e6;
        background-color: white;
        border-radius: 120px;
        text-align:center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        box-shadow: 1px 1px 0.5px#F2F2F2;
        color: black;
        margin: 10px;
        margin-bottom: 0px;
    }
    
    .btn4:hover {
        transform: scale(1.2);
    }
    
    i.fa-search{
        display: none;
    }
    
    .fa-info {
        display: inline-block;
        border: 1px solid #F2F2F2;
        align-items: center;
        color: #0065fc;
        padding-right: 0px;
        padding-left: 7px;
        padding-top: 3px;
        padding-bottom: 0px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-left: 5px;
        margin-top: 7px;
        background-color: #ffff;
        font-size: 9px;
        box-shadow: 2px 1px 0.5px whitesmoke;
    }
    
    .HM {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 33px;
        margin-bottom: -10px;
        width: fit-content;
        font-size: 16px;
        font-weight: bolder;
    }
    
    .titreHotel {
        font-weight: bolder;
        font-size: 14px;
        margin-left: 7px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .NI {
        font-size: 13px;
        margin-left: 7px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    .Istars {
        background-color: #ffff;
        color: #0065fc;
        margin-left: 7px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .AP {
        font-weight: bolder;
        font-size: small;
        margin-top: 8px;
        margin-left: 33px;
        margin-bottom: 10px;
    }
    
    .fa-chart-line {
        position: relative;
        top: -10px;
        margin-right: -276px;
        font-size: 15px;
        font-weight: bolder;
    }
    
    .HMHori {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: -150px;
        margin-bottom: -10px;
        width: fit-content;
        font-size: 14px;
        font-weight: bolder;
    }
    
    .CartehotelHori {
        box-shadow: 0 0 20px #0000002e;
        display: flex;
        align-items: flex-start;
        height: 86px;
        width: 300px;
        border: 1px solid white;
        background-color: #ffff;
        border-radius: 10px;
        text-align: left;
        font-size: 9px;
        caption-side: top;
        padding: 3px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;

        margin-bottom: 34px;
    }
    
    .CartehotelHori:hover {
        transform: scale(1.1);
    }
    
    .carteHori {
        height: 100%;
        width: 30%;
        background-color: #ffff;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .titreHotelHori {
        align-items: flex-start;
        justify-content: flex-start;
        caption-side: top;
        margin-left: 10px;
        margin-top: -2px;
        font-size: 14px;
    }
    
    .NIHori {
        display: block;
        align-items: flex-start;
        justify-content: flex-start;
        caption-side: top;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 13px;
    }
    .grey{
        color: grey;
    }

    
    .IstarsHori {
        background-color: #ffff;
        color: #0065fc;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: -10px;
    }
    
    .Marseille {
        width: fit-content;
        margin-left:75px;
        font-size: medium;
        margin-bottom: 10px;
        font-weight: bolder;
    }
    .lescartesdemarseille{
        width: 95%;

    }

    .activiteaMarseille .lescartesbas article {
        /* background-color:blue; */
        display:inline-block;
        width:24%;
        padding-left:10;
        margin-left:15px;
    }
    .lescartesbas{
        /* background-color: yellow; */
        padding-right: 25px;
        padding-left: 20px;
        width: 100%;
    }
    
    .activiteaMarseille .lescartesbas article figure {
        font-size:10px;
    }

    .activiteaMarseille .lescartesbas article img {
        width:100%;
        height: hv;

    } 

    .activiteaMarseille {
        padding: 0px;
        margin: 0px;
        margin-bottom: 40px;
    }
    
    .activitePortrait {
        box-shadow: 0 0 20px #0000002e;
        display: block;
        height: 360px;
        width: 270px;
        font-size: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid transparent;
        padding: 0px;
        margin:0px;
        margin-bottom: 5px;
        background-color:white;
    }
    
    .activitePortrait:hover {
        transition: transform 1ms;
        transform: scale(1.2);
    }
    
    .activitePortraitCap {
        padding-left: 12px;
        padding-top: 9px;
        font-weight: bolder;
        font-size: larger;
        background-color: white;
    }
    
    .activiteLandscape {
        box-shadow: 0 0 20px #0000002e;
        display: block;
        height: vh;
        width:230px;
        background-color: white;
        border: 0.1px solid transparent;
        text-align: justify;
        border-radius: 10px;
        font-size: 10px;
        /* box-shadow: 7px -5px -3px #ffff; */
        padding-top: 0px;
        background-size: cover;
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .activiteLandscape:hover {
        transition: transform 1ms;
        transform: scale(1.2);
    }
    
    .activiteLandscapeCap {
        padding-left: 12px;
        padding-top: 7px;
        font-weight: bolder;
        font-size: larger;
        background-color: transparent;
    }
    
    ul {
        list-style: none;
        display: inline-flex;
        align-items: stretch;
        justify-content: space-evenly;
        margin: 12px;
    }
    
    .ReserviaHebergement {
        display: flex;
        flex-direction: row;
        top: 12px;
        right: 12px;
        justify-content: space-between;
        padding-top: 8px;
        margin-right: 40px;
        cursor: pointer;
        font-size: 14px;
        margin-right: -40px;
    }
    
    .ReserviaHebergement a:hover {
        cursor: pointer;
    }
    
    .Hebergement {
        justify-content: space-evenly;
        position: relative;
        border-top: 1px solid #0065fc;
        top: auto;
        right: 12px;
        color: #0065fc;
        padding: 20px;
        margin-left: -430px;
        font-weight: lighter;
    }
    
    .Activite {
        justify-content: space-evenly;
        border-top: 1px solid transparent;
        top: auto;
        right: 0px;
        padding: 20px;
        font-weight: bolder;
        margin-left: -300px;
        font-weight: lighter;
    }
    
    a:hover.Activite{
        border-top: 1px solid #b4b4b4;
    }
    
    a:visited.Activite{
        color: grey;
    }
    
    .inscription {
        justify-content: space-evenly;
        top: auto;
        right: 0px;
        padding: 20px;
        color:#0065fc;
        font-weight: bold;
        margin-left: -190px;
    }
    
    .locationI {
        display: flex;
        width: 35px;
        height: 35px;
        background-color: #f2f2f2;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        align-items: center;
        justify-content: center;
    }
    
    .activitePortraitCarte {
        object-fit: cover;
        display: block;
        height: 325px;
        width: 390px;
        background: cover;
        border: 1px solid transparent;
        text-align: center;
        border-bottom-color: whitesmoke;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 0px;
        box-shadow: 2px 1px 0.3px whitesmoke;
        font-weight: bolder;
    }
    
    .activiteLandscapeCarte {
        object-fit: cover;
        height: 136px;
        width: 370px;
        background-color: #ffff;
        border-bottom: #ffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 10px;
    }
    
    .footer {
        display: grid;
        grid-template-columns:170px 170px 170px;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        padding-bottom:20px;
        margin:auto;
    }
    
    footer a {
        color: black;
    }
    
    .footer1 {
        display: block;
        margin-left:-125px;
    }
    
    .footer2 {
        flex-direction: column;
        align-content: flex-end;
        align-items: stretch;
        justify-content: center;
        display: block;
        list-style: none;
        padding:0px;
    }
    
    .footer3 {
        display: block;
        flex-direction: column;
        /* align-content: flex-end; */
        /* align-items: stretch; */
        /* justify-content: center; */
        list-style: none;
        /* padding-left: 18px; */
        /* margin-right: 40px; */
        padding:0px;
    }
    
    footer ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    
    .footerTitle {
        font-weight: bold;
        font-size: larger;
    }
    
    .footerLink {
        font-weight: normal;
        font-size: small;
        margin-bottom: 20px;
    }
}

